* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-gradient: linear-gradient(to right top, #F7E93F, rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));

    --primary-color: #FFFFFF;
    --second-color: #00FF88;
    --fast-section: #1A0B2E;
    --second-section: #230E3D;
    --grid-color: rgba(53, 17, 101, 0.4);
}

.why-choose {
    background-color: #230E3D;
}

.why-coose-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.why-coose-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.audio {
    grid-column: span 1;
    grid-row: span 2;
}

.mobile,
.global,
.exclusive {
    grid-column: span 2;
}

.audio,
.mobile,
.global,
.exclusive,
.rich {
    background-color: rgba(53, 17, 101, 0.4);
}


.video-section {
    padding: 80px 0;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.video-card {
    background: #1a0b2e;
    border-radius: 16px;
    padding: 16px;
    color: #fff;
}

.video-thumb {
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    /* overflow: hidden; */
}

.video-thumb img {
    width: 100%;
    display: block;
}

.play-btn {
    position: absolute;
    /* inset: 0; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    font-size: 28px;
    color: white;
    transition: 0.3s;
}

.video-thumb:hover .play-btn {
    background: rgba(0,0,0,0.6);
    /* transform: scale(1.1); */
}

.video-title {
    font-size: 18px;
    margin: 12px 0 6px;
}

.video-desc {
    font-size: 14px;
    opacity: 0.8;
}

.video-time {
    display: inline-block;
    margin-top: 8px;
    font-size: 13px;
    opacity: 0.7;
}

/* Responsive */
@media (max-width: 900px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}





































/* ===featured-Releted-style== */
.featured {
    padding: 120px 200px;
}





.video-card {
    max-width: 380px;
    
}
.video-thamb {
    position: relative;
}

.thamb-icon {
    width: 60px;
    height: 60px;
    background: var(--primary-gradient);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    color: var(--primary-color);
    position: absolute;
    
}
.thamb-content {
     background-color: var(--second-section);
     color: var(--primary-color);

}


.video-card img {
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    
}