@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.hidden {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

:root {
    --primary-gradient: linear-gradient(to right top, #F7E93F, rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));

    --primary-color: #FFFFFF;
    --second-color: #00FF88;
    --fast-section: #1A0B2E;
    --second-section: #230E3D;
    --grid-color: rgba(53, 17, 101, 0.4);
}

/*========================= Shared-Style===================== */

.width {
    width: 75%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn {
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: var(--primary-gradient);
    color: var(--primary-color);
}



/* =======================Main-Style=================================== */

/* ===Nav-Releted-Style=== */
header {
    background-color: var(--fast-section);
}
nav {
        border: none;
        border-bottom: 1px solid #412567;
        color: var(--primary-color);
}
.nav-container {
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
.nav-logo {
    font-size: 60px;
    font-weight: bolder;
}
.nav-logo span {
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu {
    gap: 32px;
}
.nav-link {
    list-style: none;
}

/* ===Banner-Releted-style=== */
.banner {
    background-image: url(/images/hero-bg.png);
    background-size: cover;
    color: #FFFFFF;
}
.banner-container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.banner-image {
    position: relative;
    text-align: center;
    justify-content: center;
}

.base-image img {
    width: 400px;
}

.top-image {
    position: absolute;
    top: 30%;
   

    
}

.banner-content {
    text-align: center;
}

.banner-title {
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 8px;
}

.banner-text {
    font-size: 16px;
    padding-bottom: 24px;
}

.banner-button {
    gap: 8px;
    justify-content: center;
}

/* ===About-Releted-style=== */

.about {
    background-color: var(--fast-section);
    color: var(--primary-color);
    padding: 50px 120px;
}

.about-container {
    text-align: center;
}

.about-content {
    padding-top: 50px;
    padding-bottom: 80px;
    max-width: 700px;
    margin: 0 auto;
}

.about-title {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
}

.about-text {
    font-size: 16px;
    line-height: 25px;
}


.about-mark {
    justify-content: center;
    gap: 80px;
    padding-top: 80px;
    border-top: 1px solid #412567;
    align-items: center;
}

.monthly-title,
.episode-title,
.average-title,
.industy-title
{
    color: var(--second-color);
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.monthly-text,
.episode-text,
.average-text,
.industy-text
{
    font-size: 16px;
    line-height: 20px;
}


/* ===why-choose-releted-style=== */
.why-choose {
    background-color: var(--second-section);
    color: var(--primary-color);
}
.why-coose-container {
    text-align: center;
    padding: 120px 200px;
}

.why-coose-container h2 {
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
}


.why-coose-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;


}


.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5
 {
    text-align: left;
    padding: 40px;
    background-color: var(--grid-color);
    border: none;
    border-radius: 40px;
}

.grid-1 {
    grid-column: span 1;
    grid-row: span 2;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.grid-2,
.grid-3,
.grid-4
    {
    grid-column: span 2;
}

.why-coose-grid img {
    padding-bottom: 21px;
}

.grid-title {
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.grid-text {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.452);
}




/* ===featured-Releted-style== */
.featured {
    padding: 120px 200px;
    background-color: var(--fast-section);
    color: var(--primary-color);
}

.episodes-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 40px;
}

.video-card-section {
    gap: 30px;
    justify-content: center;
}

.video-card {
    max-width: 380px;
    flex-direction: column;
    gap: 0;
    
}
.video-card img {
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    
}
.video-thamb {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.thamb-image img {
    vertical-align: bottom;
}

.thamb-icon {
    width: 60px;
    height: 60px;
    background: var(--primary-gradient);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    color: var(--primary-color);
    position: absolute;
    
}
.thamb-content {
     background-color: var(--second-section);
     color: var(--primary-color);
     padding: 24px;
     border: none;
     border-radius: 0px 0px 24px 24px;

}

.video-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 12px;
}

.video-text {
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.77);
}

.video-time {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--second-color);
}



.meet-the-host {
    color: var(--primary-color);
    padding-top: 120px;
    text-align: center;
    
}
.host-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 40px;
}

.host-container {
    padding: 40px;
    align-items: center;
    gap: 24px;
    background-color: var(--second-section);
    border: none;
    border-radius: 40px;
}
.host-content {
    text-align: left;
}
.host-name {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 16px;
}

.host-text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
    color: rgba(255, 255, 255, 0.77);
}

.host-social-icon {
    gap: 8px;
}

.linkdin,
.twitter,
.instagram,
.youtube
 {
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #412567;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}